@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply dark:bg-black bg-white;
	}
}

body {
	@apply font-serif selection:text-white selection:bg-orange-300;
	font-size: 1.4rem;
}

h1 {
	@apply font-head;
}

a {
	@apply text-blue-400 underline underline-offset-8 decoration-1 transition;
}

a:hover {
	@apply text-black dark:text-white;
}

@media (min-width: 640px) {
	.container,
	.wide-container {
		max-width: 640px;
	}
}

.title::before {
	background: linear-gradient(to bottom right, rgba(255, 175, 1, 0), rgba(255, 103, 1, 0), rgba(1, 183, 255, 0.3));
	border-radius: 50%;
	width: 480px;
	height: 360px;
	margin-left: -400px;
	z-index: -1;
}

.title::after {
	background: radial-gradient(rgba(1, 255, 77, 0.4), rgba(1, 65, 255, 0));
	width: 240px;
	height: 180px;
	z-index: -2;
}

.title::before,
.title::after {
	content: "";
	left: 50%;
	position: absolute;
	filter: blur(45px);
	transform: translateZ(0);
}

/* @media (min-width: 768px) {
	.container,
	.wide-container {
		max-width: 768px;
	}
} */

/* @media (min-width: 1024px) {
	.container {
		max-width: 1280px;
	}
} */
